div {
   border: 1px solid black;
   margin: 5px;
   padding: 5px;
}
a {
    color: blue;
}
p {
   border-top: 1px dashed black;
}
[class ~= "flat"] {
   color: red;
}
[class |= "fly"] {
   color: red;
}
[class ^= "eng"] {
   color: red;
}
[class $= "end"] {
   color: red;
}
[class *= "file"] {
   color: red;
}